<!--create partial(html) for how posts will appear-->
<article class="post section">
    <div class="title has-text-white"
        style="display: flex; justify-content: space-between; align-content: center; min-height: 3rem; padding: 1rem">
        <a href="/post/{{id}}" target="_blank" class="has-text-white is-outlined">{{title}}</a>
        <a href="{{post_url}}" target="_blank" class="has-text-white">{{format_url post_url}}</a>
    </div>
    <div class="has-text-white content has-background-grey-dark"
        style="min-height: 6rem; padding: 1rem; display: block;">
        {{ content }}
    </div>
    <div class="meta box has-background-grey-darker has-text-white" style="text-align: end;">
        <!--{{vote_count}}  {{format_plural "point" vote_count}} -->
        post by {{user.username}} on {{format_date postDate}}
        <br>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>