<!--create partial(html) for how posts will appear-->
<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
    </div>
    <div class="content">
        {{ body }}
    </div>
    <div class="meta">
        posted by {{user.username}} on {{format_date created_at}}
        || {{vote_count}} vote(s) || <a href="/post/{{id}}">{{comments.length}} comment(s) </a>
    </div>
    <div class="">
        <span class="material-icons upvote-btn" data-postId="{{id}}">arrow_upward</span>
        <span class="material-icons downvote-btn" data-postId="{{id}}">arrow_downward</span>
    </div>
</article>